/* Header.module.css */
.header {
    background-color: white;
    color: black;
    padding: 20px 0;
    text-align: center;
}

.header svg {
    display: inline;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar {
    font-size: 12px;
    padding: 5px 10px;
}

.navbar h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 0;
    font-size: 24px;
    color: #ed143d;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.nav a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.nav button {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.nav a:hover {
    text-decoration: underline;
}

.nav button:hover {
    text-decoration: underline;
}

.profile {
    position: relative;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
}

.dropdownItem {
    margin-bottom: 10px;
}

.dropdownItem strong {
    display: block;
    font-size: 16px;
}

.dropdownItem p {
    font-size: 14px;
    color: #666;
}

.dropdown button,
.dropdown a {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    text-align: left;
    text-decoration: none;
    color: inherit;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown button:hover,
.dropdown a:hover {
    background-color: #ddd;
}
